.carousel {
  // overflow: scroll;
  padding: 30px;
  width: 100%;
  position: relative;
}

.carousel__container {
  /* font-size: 0; */
  white-space: nowrap;
  margin: 35px 0px;
  padding-bottom: 10px;
}